<h1><%=  @user.name.capitalize %> <%= @services.first.description %> </h1>
<h2>Listing Invoice Services: <%= @services.first.description %></h2>
 
<table>
  <tr>
    <th>Text</th>
    
   
    <th>Date</th>
    <th>Description</th>
    <th>Rate</th>
  </tr>
 
  <% @services.each do |service| %>
    <tr>
      <td><%= service.date %> </td>
      <td><%= service.description %> </td>
       <td><%= service.unit_type %> </td>
      <td><%= service.rate %> </td>
       <td><%= link_to 'Show', user_invoice_service_path(@user, @invoice, service) %></td>
        <td><%= link_to 'Edit', edit_user_invoice_service_path(@user, @invoice, service) %></td>
         <td><%= link_to 'Delete', user_invoice_service_path(@user, @invoice, service),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
    </tr>
  <% end %>
</table>

