<% if @service.errors.any? %>
  <div id="error_explanation">
    <h2 class="text-danger"><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>
 
    <ul>
    <% @service.errors.full_messages.each do |msg| %>
      <li class="text-danger"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<div class="well">
<fieldset>
  <legend>New Service </legend>
<%= form_for [ @invoice, @service] do |f| %>
 <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_field :date, placeholder:"dd/mm/yyyy", class: 'form-control' %>
  </div>
 <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, placeholder:"i.e. Research", class: 'form-control' %>
  </div>


  <div class="form-group">
    <%= f.select :unit_type, options_for_select([['Per Day', 'pd'],['Per Week', 'pw'],['Per Month', 'pm'],['Per Hour', 'ph'] , ['Allow', 'allow'] ]), {}, class: 'form-control'  %>

  </div>

  <div class="form-group">
    <%= f.label :rate %><br> 
  <%= f.text_field :rate, class: 'form-control' %>
  </div>
 

 <%= link_to 'Back', invoice_path( @invoice),  class: "btn btn-primary" %>
  <%= f.button 'Create' , class: 'btn btn-primary' %>

 <% end %>
</fieldset>
</div>

</div>



