

<div class="well">
<fieldset>
  <legend>New Service </legend>
<%= form_for [ @invoice, @service] do |f| %>
 <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_field :date, class: 'form-control' %>
  </div>
 <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  

  <div class="form-group">
    <%= f.select :unit_type, options_for_select([['Per Day', 'pd'],['Per Week', 'pw'],['Per Month', 'pm'],['Per Hour', 'ph'] ]), {}, class: 'form-control'  %>


  </div>



  <div class="form-group">
    <%= f.label :rate %><br>
    <%= f.text_field :rate, class: 'form-control' %>
  </div>
 

 <%= link_to 'Back', invoice_path( @invoice),  class: "btn btn-primary" %>
  <%= f.button 'Create' , class: 'btn btn-primary' %>

 <% end %>
</fieldset>
</div>

</div>



