<h1><%=  @user.name.capitalize %> Inv number:<%= @invoice.number %>  Service: <%= @service.description %>  </h1>
<p>
  <strong>Service:</strong>
  <%= @service.date %> 
</p>

<p>
  <strong>Service:</strong>
  <%= @service.description %> 
</p>

<p>
  <strong>Service:</strong>
  <%= @service.unit_type %> 
</p>

<p>
  <strong>Service:</strong>
  <%= @service.rate %> 
</p>

