<h1>Edit Note</h1>
<p><%=  @user.name.capitalize %>'s Note for Invoice Number <%= @invoice.number %> for <%= @invoice.client.name.capitalize %> on <%= @invoice.date.strftime("%d %h %y" ) %> </p>
<p>Today is the <%= Time.now.strftime("%d %h %y - %H:%M" ) %></p>
    <p><strong>Created:</strong> <td><%= @note.created_at.strftime("%d %h '%y at %H:%M" ) %></br>
     <strong> Updated:</strong> <td><%= @note.updated_at.strftime("%d %h '%y at %H:%M"  ) %></p>


<div class="well">
<fieldset>
  <legend>Edit Note </legend>

<%= form_for [@user , @invoice, @note] do |f| %>
  <div class="form-group">
    <%= f.label :note %><br>
    <%= f.text_area :text, class: 'form-control' %>
   </div>

 <%= link_to 'Back', user_invoice_path(@user, @invoice),  class: "btn btn-primary" %>
  <%= f.button 'Create' , class: 'btn btn-primary' %>

 <% end %>
</fieldset>
</div>

</div>

