<h1>Notes</h1>
<p><%=  @user.name.capitalize %>'s Notes for Invoice Number <%= @invoice.number %> for <%= @invoice.client.name.capitalize %> on <%= @invoice.date.strftime("%d %h %y" ) %> </p>
<hr>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @notes.each do |note| %>
    <tr>
      <td>

      </td>

      <td>
        </td>

    <p><strong>Created:</strong> <%= note.created_at.strftime("%d %h '%y at %H:%M" ) %>   
    <strong>Updated:</strong> <%= note.updated_at.strftime("%d %h '%y at %H:%M" ) %></p>
    
       <p> <%= note.text %> <br></p>
        
        <%= link_to 'Show ' , invoice_note_path( @invoice, note) %>
       
       <%= link_to 'Edit ', edit_invoice_note_path(@invoice, note) %> 
              
        <%= link_to 'Delete ' , invoice_note_path( @invoice, note),
                    method: :delete, data: { confirm: 'Are you sure?' } %> <br>
                  </td>
                  <td>  </td>

       </tr>
 <hr>

  <% end %>

</table>
