<h1>Notes</h1>
<p><%=  @user.name.capitalize %>'s Notes for Invoice Number <%= @invoice.number %> for <%= @invoice.client.name.capitalize %> on <%= @invoice.date.strftime("%d %h %y" ) %> </p>
<hr>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @notes.each do |note| %>
    <tr>
      <td>

      </td>

      <td>
        </td>

    <p><strong>Created:</strong> <%= note.created_at.strftime("%d %h '%y at %H:%M" ) %>   
    <strong>Updated:</strong> <%= note.updated_at.strftime("%d %h '%y at %H:%M" ) %></p>
    
       <p> <%= note.text.capitalize.split(" ").first(200).join(" ") %> 

        <% if note.text.split(" ").count > 200 %>
        <p class="text-primary"><strong> <%= link_to '. . . ' , invoice_note_path( @invoice, note) %></strong></p></p>
        <% else %>

        <% end %>


        <br></p>
       
       <%= link_to 'Edit ', edit_invoice_note_path(@invoice, note) %> 
              
        <%= link_to 'Delete ' , invoice_note_path( @invoice, note),
                    method: :delete, data: { confirm: 'Are you sure?' } %> <br>
                  </td>
                  <td>  </td>

       </tr>
 <hr>

  <% end %>

</table>

 <%= link_to 'Back', invoice_path( @invoice, @note),  class: "btn btn-primary" %>