<h1><%=  @user.name.capitalize %> <%= @invoice.number %> </h1>
<h2>Listing Invoice Notes</h2>
 
<table>
  <tr>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @notes.each do |note| %>
    <tr>
      <td><%= note.text %> </td>

      <td><%= link_to 'Show', user_invoice_note_path(@user, @invoice, note) %></td>
        <td><%= link_to 'Edit', edit_user_invoice_note_path(@user, @invoice, note) %></td>
         <td><%= link_to 'Delete', user_invoice_note_path(@user, @invoice, note),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
   
    </tr>
  <% end %>
</table>

 <% @notes.inspect %>