<h1>Note</h1>


<p><%=  @user.name.capitalize %>'s Note for Invoice Number <%= @invoice.number %> for <%= @invoice.client.name.capitalize %> on <%= @invoice.date.strftime("%d %h %y" ) %> </p>
<p>Today is the <%= Time.now.strftime("%d %h %y - %H:%M" ) %></p>
    <p><strong>Created:</strong> <td><%= @note.created_at.strftime("%d %h '%y at %H:%M" ) %></br>
     <strong> Updated:</strong> <td><%= @note.updated_at.strftime("%d %h '%y at %H:%M"  ) %></p>
<p>
  
  <%= @note.text %> 
</p>
 


 <%= link_to 'Back', invoice_path( @invoice, @note),  class: "btn btn-primary" %>

 <%= link_to 'Edit', edit_invoice_note_path( @invoice, @note),  class: "btn btn-primary"  %>

     <%= link_to 'All Notes',  invoice_notes_path(@invoice), class: "btn btn-primary" %>