
<div class="well">
<fieldset>
  <legend>Edit Invoice Details </legend>

<%= form_for  @invoice do |f| %>
<div class="form-group">
    <%= f.label :number %><br>
    <%= f.text_field :number, class: 'form-control' %>
  </div>
<div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_field :date, class: 'form-control' %> </p>
  </div>
 
 <%= link_to 'Back', invoice_path( @invoice),  class: "btn btn-primary" %>
  <%= f.button 'Update' , class: 'btn btn-primary' %>

 <% end %>
</fieldset>
</div>

</div>
