
<legend><%=  @user.name %>'s Invoices</legend>
 

 <small><p>Today is the <%= Time.now.strftime("%d %h %y" ) %></p> </small>


  <p>Total number of Invoices:  <strong><%= @invoices.count %> </strong>,  Paid: <strong> <%= @invoices.where(paid: true).count %> </strong>, 
 Unpaid: <strong> <%= @invoices.where(paid: false).count %> </strong>. </p>
 

 Total <strong>£ <%= @invoices.map{|inv| inv.services.map {|serv| serv.rate}.sum}.sum %> </strong>

<p>
  Download 
  <%= link_to "CSV", invoices_path(format: "csv"), class: "btn btn-success btn-xs" %>  
   <%= link_to "Excel", invoices_path(format: "xls"), class: "btn btn-success btn-xs"%>
</p>




<div class="table-responsive">
<table class="table table-hover table-condensed" >
  <tr class="active" >
    <th>#</th>
    <th>Date</th>
   
    <th>Client</th>
    <th>Start</th>
    <th>End</th>
    <th>Days</th>
    <th>Unit</th>
    <th>Rate</th>
    <th>Total</th>
    <th>Due on</th>
     

    <th>Last Note</th>
    <th>Status</th>
    <th></th>

  </tr>


  <% @invoices.order("number desc").each do |invoice| %>
    <tr  data-link="invoice_path(invoice)">

      <td><%= link_to invoice.number, invoice_path(invoice) %> </td>

      <td> <% if invoice.date %>
       <%=  link_to invoice.date.strftime("%d %h %y" ), invoice_path(invoice) %>
      <% end %></td>

      <td> <% if  invoice.client %>
     <%= link_to invoice.client.name.capitalize, client_path(invoice.client) %>  <% end %></td>

      
        <td><% unless invoice.services.empty? %>
          <%= invoice.services.order("date").first.date.strftime("%d %h %y" ) %>
          <% end %> </td>
       
        <td>
          <% unless invoice.services.empty? %>
          <%= invoice.services.order("date").last.date.strftime("%d %h %y" ) %>
          <% end %></td>
        
        <td>
          <% unless invoice.services.empty? %>
          <%= (invoice.services.count).to_i  %>
          <% end %> </td>
       
         <td>
          <% unless invoice.services.empty? %>
          <%= invoice.services.first.unit_type %> 
          <% end %></td>
        
        <td>
          <% unless invoice.services.empty? %>
          £ <%= invoice.services.first.rate   %>
        <% end %></td>

        <td>
        <% unless invoice.services.empty? %>
          £ <strong> <%= invoice.services.sum(:rate) %></strong>
        <% end %></td>
      

        <td>   <% if invoice.date %>
        <%= (invoice.date + 1.month).strftime("%d %h %y" ) %> 
      <% end %></td>

      <td> <% unless invoice.notes.empty? %>
       <%= invoice.notes.last.text.split(" ").first(4).join(" ") %> 
     

 <% if invoice.notes.last.text.split(" ").count > 4 %>
    <%= link_to '  . . .', invoice_note_path( invoice, @note) %>
      <% end %>
 <% end %>



    </td>

       <td >
        <% if invoice.status == 'Paid' %>
          <strong class='text-success' > <%= invoice.status %></strong>
        <% elsif invoice.status == 'Unpaid' %>
          <strong class='text-warning'> <%= invoice.status %></strong>
        <% else invoice.status == 'Overdue'  %>
          <strong class='text-danger'> <%= invoice.status %></strong>
        <% end %>
       </td>
      
      <td><%= link_to 'Delete', invoice_path(invoice),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  
  
  <% end %>
    </tr>
  
</table>
</div>

<%= link_to 'New Invoice', new_invoice_path,  class: "btn btn-primary" %>


