<h1><%=  @user.name %> invoices</h1>
<h2>Listing Invoices</h2>
 
 <p>Today is the <%= Time.now.strftime("%d %h %y" ) %></p>
<table class="table table-hover" >
  <tr class="active">
    <th>N</th>
    <th>Date</th>
   
    <th>Client</th>
    <th>Start</th>
    <th>End</th>
    <th>Days</th>
    <th>Unit</th>
    <th>Rate</th>
    <th>Total</th>
    <th>Due on</th>
     

    <th>Last Note</th>
    <th>Status</th>
    <th></th>

  </tr>
  <% @invoices.each do |invoice| %>
    <tr  data-link="invoice_path(invoice)">
      <td><%= link_to invoice.number, invoice_path(invoice) %> </td>

      <% if invoice.date %>
        <td><%=  link_to invoice.date.strftime("%d %h %y" ), invoice_path(invoice) %></td>
      <% end %>
      <% if  invoice.client %>
      <td><%= link_to invoice.client.name, client_path(@client) %></td>
  <% end %>
      <% unless invoice.services.empty? %>
        <td><%= invoice.services.order("date").first.date.strftime("%d %h %y" ) %></td>
        <td><%= invoice.services.order("date").last.date.strftime("%d %h %y" ) %></td>
        <td><%= (invoice.services.count).to_i  %></td>
        <td><%= invoice.services.first.unit_type %></td>
        <td>£ <%= invoice.services.first.rate   %></td>
        <td>£ <strong> <%= invoice.services.sum(:rate) %></strong></td>
      <% end %>

      <% if invoice.date %>
        <td><%= (invoice.date + 1.month).strftime("%d %h %y" ) %></ </td>
      <% end %>

      <% unless invoice.notes.empty? %>
        <td><%= invoice.notes.last.text.split(" ").first(4).join(" ") %> ...</td>
      <% end %>

       <td>Status</td>
      
      <td><%= link_to 'Delete', invoice_path(invoice),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  
  
  </tr>
    </tr>
  <% end %>
</table>


<%= link_to 'New Invoice', new_invoice_path,  class: "btn btn-primary" %>


