<% if @invoice.errors.any? %>
  <div id="error_explanation">
    <h2 class="text-danger"><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>
 
    <ul>
    <% @invoice.errors.full_messages.each do |msg| %>
      <li class="text-danger"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
<fieldset>
  <legend>New Invoice </legend>
<%= form_for @invoice, class: "form-horizontal" do |f| %>

  <div class="form-group">
    <%= f.label :number %><br>
    <%= f.text_field :number, placeholder:"#{if @user.invoices.first.number.nil? then 1 else @user.invoices.first.number + 1   end  }", class: 'form-control' %>
  </div>




 <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_field :date, placeholder:"#{Time.now.strftime("%d/%m/%Y" )}", class: 'form-control' %> </p>
   
  </div>
  
<div class="form-group">
    <%= f.label :client %><br>
    <%= text_field_tag :client, nil, placeholder: 'Search or create a client', class: 'form-control' %>
 
  </div>


<div class="field form-group">
  <%= f.label :tag_list, "Tags" %><br />
  <%= f.text_field :tag_list, placeholder: 'Tags sepated by commas, ie comapny, clients, project',  class: 'form-control'  %>
</div>




<!--   <%= f.collection_select(:client_id, Client.all, :id, :name) %> -->

  

 <%= link_to 'Back', invoices_path,  class: "btn btn-primary" %>
  <%= f.button 'Create', class: 'btn btn-primary' %>
 
<% end %>
  


</fieldset>
</div>

