

<div class="well">
<fieldset>
  <legend>New Bank </legend>
  <small>*if you already have registered bank details this will override the existing onece, you can only have one bank details per account</small>
<%= form_for  (@bank) do |f| %>
 <p>
    <%= f.label :account_name %><br>
    <%= f.text_field :account_name, class: 'form-control' %> </p>
 <p>
  <p>
    <%= f.label :sort_code %><br>
    <%= f.text_field :sort_code, class: 'form-control' %>
  </p>

    <%= f.label :account_number %><br>
    <%= f.text_field :account_number, class: 'form-control' %> </p>


 <%= link_to 'Back', invoice_path( @invoice),  class: "btn btn-primary" %>
  <%= f.button 'Create' , class: 'btn btn-primary' %>

 <% end %>
</fieldset>
</div>

</div>
