<legend><%=  @user.name %>'s Clients</legend>
 <p>Today is the <%= Time.now.strftime("%d %h %y" ) %></p>

<div class="table-responsive">
<table class="table table-hover table-condensed" >
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Contact Name</th>
    <th>e-mail</th>
    <th>phone</th>
    <th>Agency's Client</th>
    <th></th>
    <th></th>
   
  </tr>




  <% @clients.each do |client| %>  
    <tr>
      <td><%= link_to client.name.capitalize, client_path(client) %></td>
      <td><%= client.address %></td>
      <td><%= client.contact_name %></td>
       <td><%= mail_to client.email %></td>
       <td><%= client.phone %></td>
       <td><%= client.agency_client %></td>
       
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    
  </tr>
    </tr>
  <% end %>
</table>
</div>

<%= link_to 'Back', root_path,  class: "btn btn-primary" %>

