<div class="row">
  <div class="col-xs-12 col-md-12">
  <p>
  
 <legend>All invoices for <%= @client.name.capitalize %> </legend>
 <%= @client.name.capitalize %>, 
  <% if @client.address && @client.contact_name && @client.phone &&  @client.email && @client.agency_client %>
  <%= @client.address.capitalize %> ,
   <%= @client.contact_name %>,
  <%= @client.phone %>,
  <%= @client.email %>.
  <%= @client.agency_client %><br>

</p>
<% else %>
no clients details
<% end %>

<%= link_to 'Back', clients_path( @client  ) , class: "btn btn-primary btn-xs" %>
<%= link_to 'Edit', edit_client_path(@client) , class: "btn btn-primary btn-xs"  %>
</br>
</br>
</br>



</div>
</div>
<div class="row">

<div class="col-xs-12 col-md-12">
<table class="table table-hover" >
  <tr class="active">
    <th>N</th>
    <th>Date</th>
   
    
    <th>Start</th>
    <th>End</th>
    <th>Days</th>
    <th>Unit</th>
    <th>Rate</th>
    <th>Total</th>
    <th>Due on</th>
     

    <th>Last Note</th>
    <th>Status</th>
    <th></th>
    <th></th>
    
  </tr>
  <% @client.invoices.order("number desc").each do |invoice| %>
    <tr>
      <td><%=  link_to  invoice.number, invoice_path(invoice)  %> </td>

    <td>  <% if invoice.date %>
        <%= link_to invoice.date.strftime("%d %h %y" ), invoice_path(invoice) %>
      <% end %></td>
      
      <% unless invoice.services.empty? %>
        <td><%= invoice.services.order("date").first.date.strftime("%d %h %y" ) %></td>
        <td><%= invoice.services.order("date").last.date.strftime("%d %h %y" ) %></td>
        <td><%= (invoice.services.count).to_i  %></td>
        <td><%= invoice.services.first.unit_type %></td>
        <td>£ <%= invoice.services.first.rate   %></td>
        <td>£ <strong> <%= invoice.services.sum(:rate) %></strong></td>

      <% else %>
        <% 6.times do %>
        <td> </td>
        <% end %>
      <% end %>

      <% if invoice.date %>
        <td><%= (invoice.date + 1.month).strftime("%d %h %y" ) %></ </td>
      <% end %>

     <td> <% unless invoice.notes.empty? %>
        <%= invoice.notes.last.text.split(" ").first(4).join(" ") %>

        <% if invoice.notes.last.text.split(" ").count > 4 %>
    <%= link_to ' . . .', invoice_note_path( invoice, @note) %>
      <% end %>
      <% end %>

 


    </td>

       <td>
         
            <% if invoice.status == 'Paid' %>
              <strong class='text-success'> <%= invoice.status %></strong>
            <% elsif invoice.status == 'Unpaid' %>
              <strong class='text-warning'> <%= invoice.status %></strong>
            <% else invoice.status == 'Overdue' %>
              <strong class='text-danger'> <%= invoice.status %></strong>
            <% end %>
       </td>

     
      <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
      <td><%= link_to 'Delete', invoice_path(invoice),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  
  </tr>
    </tr>
  <% end %>
</table>
</div>
</div>
</div>
