<div class="row">
  <div class="col-xs-12 col-md-12">
 
      
  <p>
  

 <legend>All invoices for <%= @client.name.capitalize %> </legend>
    <div class="row">
      <div class="col-md-6">
 <%= @client.name.capitalize %>, <br>
  <% if @client.address && @client.contact_name && @client.phone &&  @client.email && @client.agency_client  %>
  <%= @client.address.capitalize %> ,
  <br>
   <%= @client.contact_name %>,
  <%=  @client.phone %>,


<% if   @client.invoices.where(:paid => false ).last && @client.invoices.where(:paid => true ).last %>

  <%= mail_to @client.email, @client.email, :bcc => @user.email,
         :subject => "#{@client.invoices.where(:paid => false ).last.date.strftime("%d %h '%y" )} Invoice number #{@client.invoices.where(:paid => false ).last.number }", :body => "Dear #{@client.contact_name}, \n I'm writing regarding the invoice number #{@client.invoices.where(:paid => false ).last.number }  of the #{@client.invoices.where(:paid => false ).last.date.strftime("%d %h '%y" )}, \n for the period between the #{@client.invoices.where(:paid => false ).last.services.order("date").first.date.strftime("%d %h '%y" )} and the #{@client.invoices.where(:paid => false ).last.services.order("date").last.date.strftime("%d %h '%y" )} . \n \n I was wondering if you could look into weather it is overdue. \n \n  Best \n \n  #{@user.name}"
         %>
    <br>


<% else %>
 <%= mail_to @client.email, @client.email %>
 <% end %>
 
  <%= @client.agency_client %><br>

<br>

<div class="table-responsive">
<table class="table table-condensed table-hover table-bordered">

  <tr class="active">
    <th>Rates Statistics </th>
    <th>Highest</th> 
     <th>Average</th>
    <th>Lowest</th>   
</tr>
<tr>
  <% if @client.services.average('rate', :conditions => ["unit_type = 'ph'"]) %>
  <td>Hourly </td> 

   <td>

<% if @client.services.find(:all, :limit => 1, :order => 'rate DESC', :conditions => ["unit_type = 'ph'"]).first %>

     <%= @client.services.find(:all, :limit => 1, :order => 'rate DESC', :conditions => ["unit_type = 'ph'"]).first.rate %>  
<% end %>

  </td> 
  <td> <%= @client.services.average('rate', :conditions => ["unit_type = 'ph'"]) %> </td> 
   <td> 

<% if @client.services.find(:all, limit: 1, :order => 'rate ASC', :conditions => ["unit_type = 'ph'"]).first %>


     <%= @client.services.find(:all, limit: 1, :order => 'rate ASC', :conditions => ["unit_type = 'ph'"]).first.rate %> 
<% end %>
     </td> 
     <% end %>
</tr>
<tr>
  <% if @client.services.average('rate', :conditions => ["unit_type = 'pd'"]) %>
  <td>Daily </td> 
   <td>
    <% if  @client.services.find(:all, :limit => 1, :order => 'rate DESC', :conditions => ["unit_type = 'pd'"]).first %>

     <%= @client.services.find(:all, :limit => 1, :order => 'rate DESC', :conditions => ["unit_type = 'pd'"]).first.rate %>
  <% end %>

  </td> 
  <td>  <%= @client.services.average('rate', :conditions => ["unit_type = 'pd'"]) %></td> 
   <td> 
 <% if @client.services.find(:all, limit: 1, :order => 'rate ASC', :conditions => ["unit_type = 'pd'"]).first %>
     <%= @client.services.find(:all, limit: 1, :order => 'rate ASC', :conditions => ["unit_type = 'pd'"]).first.rate %>
<% end %>

  </td> 
  <% end %>
</tr>
<tr>
   <% if @client.services.average('rate', :conditions => ["unit_type = 'pw'"]) %>
  <td>Weekly</td> 
   <td>
<% if  @client.services.find(:all, :limit => 1, :order => 'rate DESC', :conditions => ["unit_type = 'pw'"]).first %>

     <%= @client.services.find(:all, :limit => 1, :order => 'rate DESC', :conditions => ["unit_type = 'pw'"]).first.rate %>  
<% end %>
  </td> 
  <td> <%= @client.services.average('rate', :conditions => ["unit_type = 'pw'"]) %> </td> 
   <td>
<% if @client.services.find(:all, limit: 1, :order => 'rate ASC', :conditions => ["unit_type = 'pw'"]).first %>

     <%= @client.services.find(:all, limit: 1, :order => 'rate ASC', :conditions => ["unit_type = 'pw'"]).first.rate %> 
<% end %>

  </td> 
  <% end %>
</tr>
<tr>

   <% if  @client.services.average('rate', :conditions => ["unit_type = 'pm'"]) %>
  <td>Monthly</td> 
   <td> 
<% if @client.services.find(:all, :limit => 1, :order => 'rate DESC', :conditions => ["unit_type = 'pm'"]).first %>
     <%= @client.services.find(:all, :limit => 1, :order => 'rate DESC', :conditions => ["unit_type = 'pm'"]).first.rate %> 
<% end %>
  </td> 
  <td>   <%= @client.services.average('rate', :conditions => ["unit_type = 'pm'"]) %> </td> 
   <td>
<% if  @client.services.find(:all, limit: 1, :order => 'rate ASC', :conditions => ["unit_type = 'pm'"]).first %>
    <%= @client.services.find(:all, limit: 1, :order => 'rate ASC', :conditions => ["unit_type = 'pm'"]).first.rate %> 
<% end %>
  </td> 

  <% end %>

</tr>
<tr>
   <% if @client.services.average('rate', :conditions => ["unit_type = 'allow'"]) %> 
  <td>buyout</td> 


   <td>

<% if @client.services.find(:all, :limit => 1, :order => 'rate DESC', :conditions => ["unit_type = 'allow'"]).first %>
     <%= @client.services.find(:all, :limit => 1, :order => 'rate DESC', :conditions => ["unit_type = 'allow'"]).first.rate %>
<% end %>
     </td> 
  <td>  <%= @client.services.average('rate', :conditions => ["unit_type = 'allow'"]) %> </td> 
   <td>
<% if @client.services.find(:all, :limit => 1, :order => 'rate ASC', :conditions => ["unit_type = 'allow'"]).first %>
     <%= @client.services.find(:all, :limit => 1, :order => 'rate ASC', :conditions => ["unit_type = 'allow'"]).first.rate %>
<% end %>
     </td> 

       <% end %>
</tr>
<tr >

<td colspan="1"></td>
  <td colspan="3"> <% if @client.services.average('rate') %>

      Calculated on a total of <strong> <%= @client.invoices.count %></strong> Invoices
<% end %>
    </td>
  </tr>
</table>
</div>


</div>
  <div class="col-md-4">

  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=350x200&sensor=false&zoom=16&markers=#{@client.address}" %>

    </p>
  </div>
</div>




<% else %>
no clients details
<% end %>

<%= link_to 'Back', clients_path( @client  ) , class: "btn btn-primary btn-xs" %>
<%= link_to 'Edit', edit_client_path(@client) , class: "btn btn-primary btn-xs"  %>
</br>
</br>
</br>



</div>
</div>
<div class="row">

<div class="col-xs-12 col-md-12">

<div class="table-responsive">
<table class="table table-hover table-condensed" >
  <tr class="active">
    <th>N</th>
    <th>Date</th>
   
    
    <th>Start</th>
    <th>End</th>
    <th>Days</th>
    <th>Unit</th>
    <th>Rate</th>
    <th>Total</th>
    <th>Due on</th>
     

    <th>Last Note</th>
    <th>Status</th>
    <th></th>
    <th></th>
    
  </tr>
  <% @client.invoices.order("number desc").each do |invoice| %>
    <tr>
      <td><%=  link_to  invoice.number, invoice_path(invoice)  %> </td>

    <td>  <% if invoice.date %>
        <%= link_to invoice.date.strftime("%d %h %y" ), invoice_path(invoice) %>
      <% end %></td>
      
      <% unless invoice.services.empty? %>
        <td><%= invoice.services.order("date").first.date.strftime("%d %h %y" ) %></td>
        <td><%= invoice.services.order("date").last.date.strftime("%d %h %y" ) %></td>
        <td><%= (invoice.services.count).to_i  %></td>
        <td><%= invoice.services.first.unit_type %></td>
        <td>£ <%= invoice.services.first.rate   %></td>
        <td>£ <strong> <%= invoice.services.sum(:rate) %></strong></td>

      <% else %>
        <% 6.times do %>
        <td> </td>
        <% end %>
      <% end %>

      <% if invoice.date %>
        <td><%= (invoice.date + 1.month).strftime("%d %h %y" ) %></ </td>
      <% end %>

     <td> <% unless invoice.notes.empty? %>
        <%= invoice.notes.last.text.split(" ").first(4).join(" ") %>

        <% if invoice.notes.last.text.split(" ").count > 4 %>
    <%= link_to ' . . .', invoice_note_path( invoice, @note) %>
      <% end %>
      <% end %>

 


    </td>

       <td>
         
            <% if invoice.status == 'Paid' %>
              <strong class='text-success'> <%= invoice.status %></strong>
            <% elsif invoice.status == 'Unpaid' %>
              <strong class='text-warning'> <%= invoice.status %></strong>
            <% else invoice.status == 'Overdue' %>
              <strong class='text-danger'> <%= invoice.status %></strong>
            <% end %>
       </td>

     
      <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
      <td><%= link_to 'Delete', invoice_path(invoice),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  
  </tr>
    </tr>
  <% end %>
</table>
</div>
</div>
</div>
</div>
